body {
  background-image: url("../img/back.png");
  background-repeat: repeat-x;
  background-position: center top;
  color: #333333;
  font-size: 11px;
  height: auto; }

li {
  list-style-type: none; }

.border {
  border: 1px black solid; }

.overlay {
  background: #cccccc;
  opacity: 0.3;
  filter: alpha(opacity=30); }

.active_overlay {
  background: #cc8888;
  opacity: 0.5;
  filter: alpha(opacity=50); }

.hover_overlay {
  background: #8888cc;
  opacity: 0.5;
  filter: alpha(opacity=50); }

.right {
  text-align: right;
  margin: 2px; }

#main {
  background-image: url("../img/main.png");
  background-position-y: -60px;
  background-repeat: no-repeat;
  min-height: 900px; }

#main-bare {
  background-image: url("../img/main_bare.png");
  background-position-y: 28px;
  background-position-x: 33px;
  background-repeat: no-repeat;
  min-height: 900px; }

.hide {
  display: none; }

.spacer_top {
  min-height: 30px; }

.spacer_bottom {
  min-height: 17px; }

.top_shelf {
  min-height: 100px; }

.mid_shelf {
  min-height: 165px; }
  .mid_shelf #alert_button {
    background-image: url("../img/alert.png");
    background-repeat: no-repeat;
    width: 45px;
    height: 60px;
    position: relative;
    top: 16px;
    left: 18px; }
  .mid_shelf #alert_button:hover {
    width: 48px;
    left: 15px;
    cursor: pointer; }
  .mid_shelf #list_button {
    background-image: url("../img/list.png");
    background-repeat: no-repeat;
    width: 45px;
    height: 60px;
    position: relative;
    top: 16px;
    left: 18px; }
  .mid_shelf #list_button:hover {
    width: 48px;
    left: 15px;
    cursor: pointer; }

#staple .disabled {
  visibility: hidden; }
#staple .prev {
  background-image: url("../img/left.png");
  background-position-x: -4px;
  position: absolute;
  top: 194px;
  height: 100px;
  width: 33px; }
#staple .prev:hover {
  background-image: url("../img/left_hover.png");
  cursor: pointer; }
#staple .next {
  background-image: url("../img/right.png");
  position: absolute;
  top: 194px;
  margin-left: 800px;
  height: 100px;
  width: 33px; }
#staple .next:hover {
  background-image: url("../img/right_hover.png");
  cursor: pointer; }
#staple #staple_list {
  height: 150px;
  width: 774px;
  margin-top: 10px;
  margin-left: 33px; }
  #staple #staple_list li {
    background-image: url("../img/staple_icon_back.png");
    background-repeat: no-repeat;
    float: left;
    margin: 10px;
    padding-left: 12px;
    padding-top: 10px;
    list-style-type: none;
    width: 120px;
    height: 120px; }
    #staple #staple_list li img {
      width: 100px;
      height: 90px; }
    #staple #staple_list li .title {
      margin-top: -8px;
      padding-right: 16px;
      text-align: center; }
    #staple #staple_list li .toolbar {
      padding-right: 12px; }
      #staple #staple_list li .toolbar .anchor {
        float: right; }

.bottom_shelf {
  min-height: 380px; }

#menu {
  min-height: 90px;
  margin-top: 15px;
  margin-right: 17px; }
  #menu #search {
    background-color: transparent;
    border: 0px;
    margin-left: 15px;
    margin-top: 3px;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    padding: 7px;
    color: white; }

#add_button {
  background-image: url("../img/add.png");
  background-repeat: no-repeat;
  height: 55px;
  width: 150px;
  margin-left: 14px;
  margin-top: 3px; }

#add_button:hover {
  background-image: url("../img/add_hover.png");
  cursor: pointer; }

#list {
  background-image: url("../img/shopping_base.png");
  background-repeat: no-repeat;
  width: 175px;
  height: 105px;
  margin-top: 9px;
  margin-right: 17px; }

#list.list_active {
  background-image: url("../img/shopping.png"); }

#list.list_hover {
  background-image: url("../img/shopping_hover.png"); }

#trash {
  background-image: url("../img/trash_base.png");
  background-repeat: no-repeat;
  width: 175px;
  height: 104px;
  margin-top: -6px;
  margin-right: 17px; }

#trash.trash_active {
  background-image: url("../img/trash.png"); }

#trash.trash_hover {
  background-image: url("../img/trash_hover.png"); }

#bottom li:hover {
  cursor: move; }
#bottom li {
  background-image: url("../img/shelf_icon_back.png");
  background-repeat: no-repeat;
  float: left;
  margin: 10px;
  padding-right: 5px;
  width: 100px;
  height: 100px; }
  #bottom li img {
    padding-left: 8px;
    width: 80;
    height: 60; }
  #bottom li .title {
    padding-right: 6px;
    text-align: center; }
  #bottom li .toolbar {
    padding-right: 8px;
    padding-left: 4px; }
    #bottom li .toolbar .anchor {
      float: right; }

#shelf {
  height: 368px;
  width: 665px;
  margin-top: 7px;
  margin-left: -10px;
  padding-top: 5px;
  padding-left: 40px;
  margin-right: -20px; }

#hidden_dialog {
  background: #33ffff; }
